.section__contact-form {
  margin-top: 60px;
  .contact__bg {
    width: 100%;
    background: linear-gradient(0deg, #9fb0ee, #9fb0ee);
    padding: 80px 0;
    position: relative;
    .contact__bg-top {
      position: absolute;
      top: 0;
      left: 0;
    }
    .contact__bg-bottom {
      position: absolute;
      bottom: 0;
      right: 0;
    }
    .container {
      .wrapper__form-contact {
        display: flex;
        align-items: center;
        .contact__text {
          padding: 0 15px;
          flex-basis: 50%;
          h4 {
            font-size: 30px;
            font-family: br;
            line-height: normal;
            color: #1d1d1d;
            text-transform: none;
            font-weight: 500;
            margin-bottom: 14px;
          }
          p {
            font-size: 16px;
            font-family: br;
            line-height: 24px;
            color: #282828;
            text-transform: none;
            margin-bottom: 10px;
          }
        }
        .contact__form {
          flex-basis: 50%;
          width: 100%;
          background: #ffffff;
          border-radius: 16px;
          padding: 20px;
          .form {
            h2 {
              font-size: 32px;
              font-family: br;
              line-height: normal;
              color: #1d1d1d;
              text-transform: none;
              text-align: center;
              position: relative;
              font-weight: 500;
              margin-bottom: 20px;
            }
            .form__group {
              margin-bottom: 15px;
              position: relative;
              input {
                width: 100%;
                font-size: 14px;
                font-family: br;
                line-height: normal;
                text-transform: none;
                background-color: #fff;
                padding: 10px 9px;
                border: 1px solid #bdbdbd;
                border-radius: 6px;
                resize: none;
                font-weight: normal;
                &::placeholder {
                  color: #282828;
                }
                &:focus {
                  outline: none;
                  // & + .placeholder {
                  //   // display: none;
                  //   // color: violet;
                  // }
                }
              }
              input:not(:placeholder-shown) + .placeholder {
                display: none;
              }
              .textarea {
                width: 100%;
                font-size: 16px;
                font-family: br;
                line-height: normal;
                text-transform: none;
                background-color: #fff;
                padding: 10px 8px;
                border: 1px solid #bdbdbd;
                border-radius: 6px;
                resize: none;
                font-weight: normal;
                &::placeholder {
                  color: #282828;
                }
                &:focus {
                  outline: none;
                }
              }
              .placeholder {
                position: absolute;
                top: 0;
                left: 10px;
                height: 100%;
                line-height: 42px;
                user-select: none;
                pointer-events: none;
                // padding-left: 8px;
                span {
                  color: red;
                }
              }
            }
            .btn__submit {
              display: flex;
              justify-content: center;
              &:hover {
                a {
                  &:hover {
                    background-color: #170a4b;
                    transition: 0.2s;
                    color: #fff !important;
                  }
                }
              }
              a {
                font-family: br;
                font-size: 16px;
                font-weight: 500;
                color: #170a4b;
                text-decoration: none;
                padding: 12px 24px;
                background-color: #ff9900;
                transition: 0.2s;
                border-radius: 12px;
                z-index: 99;
                display: inline-flex;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 768px) {
  .section__contact-form .contact__bg .container .wrapper__form-contact {
    flex-direction: column;
  }
  .section__contact-form
    .contact__bg
    .container
    .wrapper__form-contact
    .contact__text {
    margin-bottom: 10px;
  }
}
