.section__content-search {
  margin-top: 60px;
  margin-bottom: 60px;
  .container {
    .result__search {
      > p {
        font-size: 22px;
        line-height: 24px;
        > span {
          color: #ff9900;
        }
      }
      .btn__backToPosts {
        margin-top: 10px;
        color: #ff9900 !important;
        &:hover {
          text-decoration: underline !important;
        }
      }
    }
    .result__content {
      margin-top: 40px;
      .result__content-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        .result__content-grid__item {
          border-radius: 10px;
          overflow: hidden;
          > a {
            position: relative;
            display: flex;
            overflow: hidden;
            &:hover {
              > img {
                transform: scale(1.1);
                transition: 0.2s;
              }
            }
            > img {
              //config img
              transform: scale(1);
              transition: 0.2s;
              height: 240px;
              object-fit: cover;
            }
            .bg__orange {
              position: absolute;
              left: 0;
              bottom: 20px;
              font-size: 12px;
              font-family: br;
              line-height: 24px;
              color: #fff;
              background-color: #ff9900;
              border-top-right-radius: 6px;
              border-bottom-right-radius: 6px;
              padding: 4px 8px;
              pointer-events: none;
              user-select: none;
            }
          }

          .decription {
            padding: 15px;
            background-color: #fff;
            .decription__time-view {
              display: flex;
              .--flex-icon {
                display: flex;
                i {
                  display: flex;
                  img {
                    width: 18px;
                  }
                }
                > span {
                  margin-left: 6px;
                  font-size: 12px;
                  font-family: br;
                  color: #55555a;
                  text-transform: none;
                }
              }
              .view {
                margin-left: 15px;
              }
            }
            .decription__params {
              margin-top: 15px;
              a {
                h3 {
                  font-size: 18px;
                  font-family: br;
                  line-height: 24px;
                  color: #1d1d1d;
                }
              }
              .params {
                display: -webkit-inline-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 14px;
                font-family: br;
                line-height: 24px;
                color: #55555a;
              }
            }
          }
        }
      }
    }
    .paginations__search-page {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      .pagination__list {
        display: flex;
        margin-bottom: 0;
        .pagination__list-option {
          cursor: pointer;
          user-select: none;
          display: flex;
          justify-content: center;
          align-items: center;
          outline: 1px solid #000;
          width: 40px;
          height: 40px;
          &:hover {
            background-color: #10213d;
            color: #fff;
          }
          &.active {
            background-color: #10213d;
            color: #fff;
          }
          > span {
            padding-bottom: 2px;
          }
        }
        .--prev__btn {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
        .--next__btn {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
    }
  }
}

@media screen and(max-width:993px) {
  .section__content-search .container .result__content .result__content-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and(max-width: 768px) {
  .section__content-search .container .result__content .result__content-grid {
    grid-template-columns: 1fr;
  }
}
