.menu__mobie {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  &.active {
    pointer-events: initial;
    .menu__mobile-nav {
      opacity: 1;
      transform: translateX(0%);
      transition: 0.4s;
    }
    .bg__black {
      // display: block;
      opacity: 1;
      transition: 0.4s;
    }
  }
  .bg__black {
    z-index: -1;
    // pointer-events: none;
    transition: 0.4s;
    opacity: 0;
    // display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
  }
  .menu__mobile-nav {
    user-select: none;
    z-index: 101;
    opacity: 0;
    transform: translateX(100%);
    transition: 0.4s;
    padding: 34px 20px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50%;
    background-color: #fff;
    .menu__mobile-nav-logo {
      position: relative;
      > a {
        display: flex;
        img {
          width: 140px;
        }
      }
      .btn__close-menu-mobile {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 40px;
        display: flex;
        i {
          margin: auto;
          font-size: 1.5rem;
          color: #000;
          font-weight: bold;
          //   display: flex;
          //   &::before {
          //     padding: 15px;
          //   }
        }
      }
    }
    .menu__mobile-nav-menu {
      li {
        position: relative;
        padding: 10px;
        margin: 2rem 0;
        padding: 0.5rem 0.8rem;
        width: fit-content;
        > a {
          transition: 0.2s;
        }
        &:hover {
          > a {
            transition: 0.2s;
            color: #ff9900 !important;
          }
        }
        &.active {
          font-weight: 600;
          > a {
            color: #10213d !important;
          }
          &::after {
            content: "";
            width: 50%;
            height: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f90;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
          }
        }
        a {
          color: #000;
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
    .menu__mobile-nav-btn {
      .languages {
        display: none;
        // display: flex;
        margin-right: 20px;
        .languages__flag-icon {
          margin-right: 4px;
          display: flex;
        }
        span {
          font-weight: bold;
        }
      }
      .btn__use {
        margin-top: 20px;
        width: 180px;
        height: 44px;
        font-size: 16px;
        padding: 12px 24px;
        font-weight: 500;
        background-color: #ff9900;
        color: #170a4b;
        border-radius: 40px;
        display: flex;
        a {
          line-height: 16px;
          margin: auto;
        }
        &:hover {
          transition: 0.3s;
          background-color: #170a4b;
          a {
            color: #fff !important;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 2000px) {
  .menu__mobie .menu__mobile-nav {
    width: 25%;
  }
}

@media screen and(max-width: 1300px) {
  .menu__mobie .menu__mobile-nav {
    width: 35%;
  }
}

@media screen and(max-width: 993px) {
  .menu__mobie .menu__mobile-nav {
    width: 40%;
  }
}

@media screen and(max-width: 768px) {
  .menu__mobie .menu__mobile-nav {
    width: 50%;
  }
}

@media screen and(max-width: 576px) {
  .menu__mobie .menu__mobile-nav {
    width: 70%;
    padding-right: 0;
  }
}
