.ReactModal__Content {
  width: 80%;
  height: 550px !important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none !important;
  background: none;
  margin-right: 0 !important;
  overflow: initial !important;
  padding: 3px !important;
  .popup {
    position: relative;
    width: 100%;
    height: 100%;
    .btn__close {
      cursor: pointer;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: absolute;
      right: -14px;
      top: -14px;
      background-color: #fff;
      display: flex;
      > p {
        margin: auto;
        line-height: 30px;
      }
    }
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
.section__popup {
  width: 100%;
  height: 100%;
}
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.html5-video-container .video-stream {
  width: 100% !important;
}

@media screen and(max-width: 993px) {
  .ReactModal__Content {
    height: 438px !important;
  }
}

@media screen and(max-width: 768px) {
  .ReactModal__Content {
    height: 356px !important;
  }
}
