.wrapper__grid-right {
  .title {
    font-size: 32px;
    font-family: br;
    line-height: normal;
    color: #1d1d1d;
    text-transform: none;
    position: relative;
    font-weight: 500;
    padding-left: 20px;
    margin-bottom: 30px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 5px;
      height: 100%;
      background-color: #ff9900;
    }
  }
  .post__care-item {
    margin-bottom: 15px;
    > a {
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      &:hover {
        > p {
          color: #ff9900;
          transition: 0.2s;
        }
      }
      img {
        border-radius: 16px;
        flex-basis: 28%;
        transform: scale(1);
        border-radius: 16px;
      }
      p {
        transition: 0.2s;
        flex-basis: 70%;
        font-size: 14px;
        font-family: br;
        line-height: 24px;
        color: #1d1d1d;
        display: -webkit-inline-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        margin-left: 10px;
      }
    }
  }
  .category {
    .category__detail {
      width: fit-content;
      text-decoration: none;
      display: block;
      padding: 8px 8px 8px 0;
      margin-left: 8px;
      margin-bottom: 20px;
      color: #000;
      font-size: 16px;
      font-weight: 500;
      min-height: 41px;
      &:hover {
        border-bottom: 1px solid #ccc;
      }
    }
  }
}

@media screen and(max-width: 1200px) {
  .wrapper__grid-right .title {
    font-size: 27px;
  }
}
